<section class="main">
  <app-input [itemParaSerEditado]="itemParaSerEditado">
  </app-input>
  <div class="container">
    <div class="lista">
      <h4>Lista de Compras</h4>
      <div *ngIf="listaCompras.length !== 0 ; else semItens">
        <app-item *ngFor="let item of listaCompras" [item]="item" (emitindoItemParaEditar)="editarItem($event)" (emitindoItemParaDeletar)="deletarItem($event)"></app-item>
      </div>
      <ng-template #semItens>
        <p class="sem-item">Nenhum item na lista de compras</p>
      </ng-template>
    </div>
  </div>
</section>
